@using HaarlemFilmFestival.Models;
@model HistoricViewModel

<link href="@Url.Content("~/Content/Historic.css")" , rel="stylesheet" type="text/css" />
<!--#region scripts-->
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
@* Dit script werkt voor de OrderPopUp. De eerste functie is nadat je op "Cancel" klikt.
    De tweede laat de PopUp zien als je op het winkelmandjeplaatje drukt, en geeft het Id van 
    dat event mee. *@
<script>
    $(document).ready(function () {
        $("#hide").click(function () {
            $(".orderPopUp").hide();
        });
        $(".orderButton").click(function (data) {
            var id = document.activeElement.id;
            var event = $(this).attr("id");
            $(".orderPopUp").show();
            $(".eventidinput").val(event);
        });
    });
</script>
<!--#endregion scripts -->

<table class="historic-table">
    <tr>
        <th>Time</th>
        <th>Price</th>
        <th>English tour</th>
        <th>Dutch tour</th>
        <th>Chinese tour</th>
    </tr>
    @{
        foreach (DateTime time in Model.times)
        {
            // hiermee komt het mooi gesorteerd op tijd in het lijstje te staan
            foreach (Historic historic in Model.historicPerDay.Where(a => a.StartTime.Hour == time.Hour && a.StartTime.Minute == time.Minute))
            {
                <tr>
                    <td>@historic.StartTime.ToString("HH:mm")</td>
                    <td>€@historic.Price.ToString("N2") </td>

                    <td>
                        @{if (historic.Languages == Language.English)
                            { <a class="orderButton" id="@historic.Id"><img src="~/Content/cart.png" /></a> }}
                    </td>
                    <td>
                        @{if (historic.Languages == Language.Dutch)
                            { <a class="orderButton" id="@historic.Id"><img src="~/Content/cart.png" /></a> }}
                    </td>
                    <td>
                        @{if (historic.Languages == Language.Chinese)
                            { <a class="orderButton" id="@historic.Id"><img src="~/Content/cart.png" /></a> }}
                    </td>
                </tr>
                                }
                            }
    }
    <tr><td colspan="5"> <br /> </td></tr>
    <tr>
        <td colspan="3" id="familyticket">
            <strong>Also available, family tickets!</strong> For 4 persons
            <br /> only for English and Dutch
        </td>
        <td id="familyticket">Price €60,-</td>
        <td><a class="orderButton"><img src="~/Content/cart.png" /></a></td>
    </tr>
</table>
}

@* Dit is de OrderPopUp die wordt weergegeven nadat er op een winkelmandje is geklikt *@
<div class="orderPopUp">
    <form class="placeOrder" method="post" action="~/Historics/Index">
        <div class="idtext"></div>
        Amount of tickets:<br />
        <input type="text" class="eventidinput" name="eventid" hidden />
        <input type="number" name="amountOfTickets" min="1" max="10" value="1" required><br />
        <br />
        <input type="submit" id="submit" value="Add ticket">
        <input id="hide" type="button" value="CANCEL">
    </form>
</div>