@using HaarlemFilmFestival.Models;
@model HistoricViewModel
@{
    ViewBag.Title = "Historic";
}
<link href="@Url.Content("~/Content/Historic.css")" , rel="stylesheet" type="text/css" />
<!--#region scripts-->
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#Thursday").click(function (data) {
            var day = document.activeElement.id;
            $.get("@Url.Action("HistoricPartialView", "Historics", new { day = DayOfWeek.Thursday })", function (data) {
                if (data) {
                    $('#divTable').empty();
                    $('#divTable').append(data);
                }
            });
        });
    });
    $(function () {
        $("#Friday").click(function (data) {
            $.get("@Url.Action("HistoricPartialView", "Historics", new { day = DayOfWeek.Friday })", function (data) {
                if (data) {
                    $('#divTable').empty();
                    $('#divTable').append(data);
                }
            });
        });
    });
    $(function () {
        $("#Saturday").click(function (data) {
            $.get("@Url.Action("HistoricPartialView", "Historics", new { day = DayOfWeek.Saturday })", function (data) {
                if (data) {
                    $('#divTable').empty();
                    $('#divTable').append(data);
                }
            });
        });
    });
    $(function () {
        $("#Sunday").click(function (data) {
            $.get("@Url.Action("HistoricPartialView", "Historics", new { day = DayOfWeek.Sunday })", function (data) {
                if (data) {
                    $('#divTable').empty();
                    $('#divTable').append(data);
                }
            });
        });
    });
</script>
<!--#endregion scripts-->

<div class="jumbotron">
    <h1>Visit Haarlem Historic</h1>

    <div class="HistoricInfo">
        Haarlem Historic will be offered as a
        guided tour through Haarlem, visiting historic and important places in its history. <br /> <br />
        Duration of this walking tour will be approx. 2,5 hours (with a 15 -minutebreak with refreshments).
        Tours will be held on Thursday, Friday and Saturday.  There will be several departures a day.
        The tour starts near of the ‘Churchof St.Bavo’,‘Grote Markt’ in the centre of Haarlem. A giant flag marked
        ‘Haarlem Historic’ will mark the exact starting location.
    </div>


    <h2 class="subtitle fancy"><span> Tickets </span></h2>
    @foreach (var day in Model.dates)
    {
        <div class="daybuttons">
            <button class="dayButton" id="@day.DayOfWeek.ToString()">Show tickets for <br /> @day.DayOfWeek.ToString()</button>
        </div>
    }

    <div id="divTable"></div>

    <h2 class="fancy amp"><span> Locations </span></h2>
    <ol class="list-stops">
        @{
            foreach (HistoricStop stop in Model.Stops)
            {
                <li class="historic-stop-list">@stop.Name</li>
            }
        }
    </ol>
    @{foreach (HistoricStop stop in Model.Stops)
            {
                int id = 1;
                if (stop.Id == 1 || stop.Id == 4 || stop.Id == 7) { id = 1; }
                if (stop.Id == 2 || stop.Id == 5 || stop.Id == 8) { id = 2; }
                if (stop.Id == 3 || stop.Id == 6 || stop.Id == 9) { id = 3; }

                <div class="historic-stop-@id">
                    <h3 class="stop-title">@stop.Id @stop.Name</h3>
                    <img src="~/Content/Images/HistoricStops/@{ @stop.Name }.jpg " alt="Stop image" />
                </div>
    }
    }

    <div class="google">
        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1-YX1ZRYCjLp-u4KBwKSdMyL0Jf9iJ3vD" width="640" height="400"></iframe>
    </div>
</div>
