@using HaarlemFilmFestival.Controllers;
@using HaarlemFilmFestival.Models;
@using HaarlemFilmFestival.ViewModels;
@model HistoricViewModel
@{
    ViewBag.Title = "Historic";
}

<link href="@Url.Content("~/Content/Historic.css")" , rel="stylesheet" type="text/css" />
<div class="jumbotron">
    <h1>Visit Haarlem Historic</h1>

    <div class="HistoricInfo">
        Haarlem Historic will be offered as a
        guided tour through Haarlem, visiting historic and important places in its history. <br /> <br />
        Duration of this walking tour will be approx. 2,5 hours (with a 15 -minutebreak with refreshments).
        Tours will be held on Thursday, Friday and Saturday.  There will be several departures a day.
        The tour starts near of the ‘Churchof St.Bavo’,‘Grote Markt’ in the centre of Haarlem. A giant flag marked
        ‘Haarlem Historic’ will mark the exact starting location.
    </div>


    <h2 class="subtitle fancy"><span> Tickets </span></h2>
    <table class="historic-table">
        <tr>
            @{ foreach (var day in Model.days)
                {
                    <th><button id="@day.ToString()">Show tickets for <br /> @day.ToString() </button></th>

                }
            }
        </tr>
        <tr>
            <th>Time</th>
            <th>Price</th>
            <th>English tour</th>
            <th>Dutch tour</th>
            <th>Chinese tour</th>
        </tr>
        @{
                foreach (Historic e in Model.Historics)
                {
                    <tr>
                        <td> @e.StartTime.ToString(@"HH\:mm")</td>
                        <td> €@e.Price.ToString("N2") </td>
                       
                        </tr>
                                    }
        }
        }

                    </table>


        <h2 class="fancy amp"><span> Locations </span></h2>
        <ol class="list-stops">
            @{
                foreach (HistoricStop stop in Model.Stops)
                {
                    <li class="historic-stop-list">@stop.Name</li>
                }
            }
        </ol>
        @{foreach (HistoricStop stop in Model.Stops)
            {
                int id = 1;
                if (stop.Id == 1 || stop.Id == 4 || stop.Id == 7) { id = 1; }
                if (stop.Id == 2 || stop.Id == 5 || stop.Id == 8) { id = 2; }
                if (stop.Id == 3 || stop.Id == 6 || stop.Id == 9) { id = 3; }

                <div class="historic-stop-@id">
                    <h3 class="stop-title">@stop.Id @stop.Name</h3>
                    <img src="~/Content/Images/HistoricStops/@{ @stop.Name }.jpg " alt="Stop image" />

                </div>
    }
        }



        @*<div class="google">
                <script>
                    var map;
                    function initMap() { map = new google.maps.Map)document.getElementById('map'), {
                        center: {lat: 23.804143, lng: 90.404327 },
                        zoom: 12
                    }};
                </script>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCuCohuEz731AU10u_DJ3tRJ2sZGY3frjI&callbakc=init<Mao"
                        async defer></script>
            </div>*@
    </div>
