@using HaarlemFilmFestival.Controllers;
@using HaarlemFilmFestival.Models;
@using HaarlemFilmFestival.ViewModels;
@model HistoricViewModel
@{
    ViewBag.Title = "Historic";
}

<link href="@Url.Content("~/Content/Historic.css")", rel="stylesheet" type="text/css" />
<div class="jumbotron">
    <h1 class="historic-title">Visit Haarlem Historic</h1>

    <div class="HistoricInfo">
        Haarlem Historic will be offered as a
        guided tour through Haarlem, visiting historic and important places in its history. <br /> <br/>
        Duration of this walking tour will be approx. 2,5 hours (with a 15 -minutebreak with refreshments).
        Tours will be held on Thursday, Friday and Saturday.  There will be several departures a day.
        The tour starts near of the ‘Churchof St.Bavo’,‘Grote Markt’ in the centre of Haarlem. A giant flag marked
        ‘Haarlem Historic’ will mark the exact starting location.
    </div>


    <h1 class="paragraph-title">Tickets</h1>

    <h1 class="paragraph-title">Locations</h1>

    <ol class="list-stops">
        @{
            foreach (HistoricStop stop in Model.Stops)
            {
                <li class="historic-stop-list">@stop.Name</li>
            }
        }
    </ol>
    @{
        foreach (HistoricStop stop in Model.Stops)
        {
            <div class="historic-stop" id="@stop.Name">
                <h3 class="stop-title">@stop.Id @stop.Name</h3>
                <img src=~/Content/Images/HistoricStops/"@stop.Name".jpg alt="Stop image" />
                <div class="info">
                    <p class="desc">@stop.StopDescription</p>
                </div>
            </div>
        }
    }
</div>