@using System.Globalization;
@using HaarlemFilmFestival.Models;

<link href="@Url.Content("~/Content/Order.css")" , rel="stylesheet" type="text/css" />
<div class="jumbotron">
    <h1>TICKETS</h1>
    <div class="line fancyarrow">
        <span>
            <img class="littlearrow" src="@Url.Content("~/Content/Images/u29.png")" />
            <img class="arrow" src="@Url.Content("~/Content/Images/u29.png")" />
        </span>
    </div>
    <form method="post" action="~/Order/Payment/">
        <div class="Order-List">
            <table class="Order-Table">
                <tr>
                    <th class="first">Selected Ticket</th>
                    <th class="second">Price</th>
                    <th class="third">Amount</th>
                    <th class="fourth"></th>
                </tr>
                @{
                    double totalprice = 0;
                    ICollection<OrderRecord> orderrecords = ((Order)Session["Orders"]).OrderRecords;
                    foreach (OrderRecord order in orderrecords)
                    {
                        totalprice = totalprice + (order.Event.Price * order.RecordAmount);
                        if (order.Event is Historic)
                        {
                            Historic item = (Historic)order.Event;
                            <tr>
                                <td> <p>Historic event || @order.Event.StartTime.ToString("dddd, MMMM dd HH:mm", new CultureInfo("en-US")) || €@order.Event.Price.ToString("N2") || @item.Languages.ToString() tour</p> </td>
                                @{ var total = order.RecordAmount * order.Event.Price; }
                                <td>@order.RecordAmount x €@order.Event.Price.ToString("N2") = €@total.ToString("N2")</td>
                                <td>@order.RecordAmount</td>
                                <td><a class="DeleteOrderRecord" id="@order.Event.Id"><img src="~/Content/Images/X.png" /></a></td>
                            </tr>
                                    }
                                    else if (order.Event is Jazz)
                                    {
                                        Jazz item = (Jazz)order.Event;
                                        <tr>
                                            <td><p>Jazz ticket || @item.Band.Name || @order.Event.StartTime.DayOfWeek.ToString() @order.Event.StartTime.Month @order.Event.StartTime.Day || @order.Event.Location.Name @order.Event.Location.LocationDescription</p></td>
                                            @{ var total = order.RecordAmount * order.Event.Price; }
                                            <td>@order.RecordAmount x €@order.Event.Price.ToString("N2") = €@total.ToString("N2")</td>
                                            <td>@order.RecordAmount</td>
                                            <td><a class="DeleteOrderRecord" id="@order.Event.Id"><img src="~/Content/Images/X.png" /></a></td>
                                        </tr>}
                                                else if (order.Event is Food)
                                                {
                                                    totalprice = totalprice + ((double)order.Event.Discount * order.RecordAmountForKids);
                                                    Food item = (Food)order.Event;
                                                    <tr>
                                                        <td><p>@item.Restaurant.RestaurantName || @(order.RecordAmount + order.RecordAmountForKids) Persons || @item.Restaurant.CuisinesString || @order.Event.StartTime</p></td>
                                                        @{ var total =  ((order.Event.Price * order.RecordAmount) + ((double)order.Event.Discount * order.RecordAmountForKids)); }
                                                        <td>€@total.ToString("N2")</td>
                                                        <td>@(order.RecordAmount+order.RecordAmountForKids)</td>
                                                        <td><a class="DeleteOrderRecord" id="@order.Event.Id"><img src="~/Content/Images/X.png" /></a></td>
                                                    </tr>}
                                                            else if (order.Event is Dance)
                                                            {
                                                                Dance item = (Dance)order.Event;
                                                                <tr>
                                                                    <td><p>Dance ticket || @order.Event.Location.Name || @order.Event.StartTime.DayOfWeek.ToString() @order.Event.StartTime.Month @order.Event.StartTime.Day || @item.Theme.ToString()</p></td>
                                                                    @{ var total = order.RecordAmount * order.Event.Price; }
                                                                    <td>@order.RecordAmount x €@order.Event.Price.ToString("N2") = €@total.ToString("N2")</td>
                                                                    <td>@order.RecordAmount</td>
                                                                    <td><a class="DeleteOrderRecord" id="@order.Event.Id"><img src="~/Content/Images/X.png" /></a></td>
                                                                </tr>
                                                                            }
                                                                        }
                                                                        <tr>
                                                                            <td colspan="1">Amount of tickets: @orderrecords.Count()</td>
                                                                            <td colspan="3">Total price: €@totalprice.ToString("N2")</td>
                                                                        </tr>
                }
            </table>
            <input type="button" class="back" value="Shop more tickets" onclick="history.back()" />
            <form method="post" action="~/Views/Order/Payment/">
                <button type="submit" class="finalpay-button">Pay your tickets</button>
            </form>
        </div>
    </form>

</div>