@using HaarlemFilmFestival.Models;

<link href="@Url.Content("~/Content/Order.css")" , rel="stylesheet" type="text/css" />
<div class="jumbotron">
    <h1>TICKETS</h1>
    <div class="line fancyarrow">
        <span>
            <img class="littlearrow" src="@Url.Content("~/Content/Images/u29.png")" />
            <img class="arrow" src="@Url.Content("~/Content/Images/u29.png")" />
        </span>
    </div>
    <form method="post" action="~/Order/Payment/">
        <div class="ItemList-Cart">
            <table class="Cart-table">
                <tr>
                    <th class="first">Selected Ticket</th>
                    <th class="second">Price</th>
                    <th class="third">Amount</th>
                    <th class="fourth"></th>
                </tr>
                @{
                    ICollection<OrderRecord> orderrecords = ((Order)Session["Orders"]).OrderRecords;
                    foreach (OrderRecord order in orderrecords)
                    {
                        if (order.Event is Historic)
                        {
                            Historic item = (Historic)order.Event;
                            <tr>
                                <td> <p>Historic event || @order.Event.StartTime.DayOfWeek.ToString() @order.Event.StartTime.ToString("MMMM dd") || €@order.Event.Price.ToString("N2") || @item.Languages.ToString() tour</p> </td>
                                @{ var total = order.RecordAmount * order.Event.Price; }
                                <td>@order.RecordAmount x €@order.Event.Price.ToString("N2") = €@total.ToString("N2")</td>
                                <td>@order.RecordAmount</td>
                            </tr>
                                    }
                                    else if (order.Event is Jazz)
                                    {
                                        Jazz item = (Jazz)order.Event;
                                        <tr>
                                            <td><p>Jazz ticket || @item.Band.Name || @order.Event.StartTime.DayOfWeek.ToString() @order.Event.StartTime.Month @order.Event.StartTime.Day || @order.Event.Location.Name @order.Event.Location.LocationDescription</p></td>
                                            @{ var total = order.RecordAmount * order.Event.Price; }
                                            <td>@order.RecordAmount x €@order.Event.Price.ToString("N2") = €@total.ToString("N2")</td>
                                            <td>@order.RecordAmount</td>
                                        </tr>}
                                                else if (order.Event is Food)
                                                {
                                                    Food item = (Food)order.Event;
                                                    <tr>
                                                        <td><p>@item.Restaurant.RestaurantName || @order.RecordAmount.ToString() Persons || @item.Restaurant.CuisinesString || @order.Event.StartTime.DayOfWeek.ToString() @order.Event.StartTime.Month @order.Event.StartTime.Day</p></td>
                                                        @{ var total = order.RecordAmount * order.Event.Price; }
                                                        <td>@order.RecordAmount x €@order.Event.Price.ToString("N2") = €@total.ToString("N2")</td>
                                                        <td>@order.RecordAmount</td>
                                                    </tr>}
                                                            else if (order.Event is Dance)
                                                            {
                                                                Dance item = (Dance)order.Event;
                                                                <tr>
                                                                    <td><p>Dance ticket || @order.Event.Location.Name || @order.Event.StartTime.DayOfWeek.ToString() @order.Event.StartTime.Month @order.Event.StartTime.Day || @item.Theme.ToString()</p></td>
                                                                    @{ var total = order.RecordAmount * order.Event.Price; }
                                                                    <td>@order.RecordAmount x €@order.Event.Price.ToString("N2") = €@total.ToString("N2")</td>
                                                                    <td>@order.RecordAmount</td>
                                                                </tr>
                                                                            }
                                                                        }
                }
            </table>
            <input type="button" value="Shop more tickets" onclick="history.back()" />
            <input type="button" value="Pay your tickets" onclick="@("window.location.href='" + @Url.Action("Payment", "Order") + "'");" />
        </div>
    </form>

</div>