@model HaarlemFilmFestival.Models.RegisterModel

@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="@Url.Content("~/Content/Order.css")" , rel="stylesheet" type="text/css" />
<div class="jumbotron">
    <h1>PAYMENT</h1>
    <div class="line fancyarrow">
        <span>
            <img class="arrow2" src="@Url.Content("~/Content/Images/u29.png")" />
            <img class="arrow" src="@Url.Content("~/Content/Images/u29.png")" />
        </span>
    </div>
    @Html.ValidationSummary()
    @using (Html.BeginForm())
    {
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name)
        @Html.ValidationMessageFor(m => m.Name)
        <br /><br />
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName)
        @Html.ValidationMessageFor(m => m.LastName)
        <br /><br />
        @Html.LabelFor(m => m.DateOfBirth)
        @Html.TextBoxFor(m => m.DateOfBirth)
        @Html.ValidationMessageFor(m => m.DateOfBirth)
        <br /><br />
        @Html.LabelFor(m => m.EmailAddres)
        @Html.TextBoxFor(m => m.EmailAddres)
        @Html.ValidationMessageFor(m => m.EmailAddres)
        <br /><br />
        @Html.LabelFor(m => m.PaymentMethod)
        @Html.EnumDropDownListFor(m => m.PaymentMethod)
        @Html.ValidationMessageFor(m => m.PaymentMethod)
        <br /><br />
        <p>
            We don't want to store too much data about our customers. Once you've filled this form in, there is no way back to change details.<br />
            So we ask you to check this form carefully before submitting. <br />Once submitted, your data will be stored in a secure database.
        </p>
        <input type="submit" value="Pay your tickets" />
    }    
        <button class="back2-button" onclick="history.back()">Go back</button>
   
    @*<form method="post" action="~/Views/Order/Final/">
        <button type="submit" class="finalpay-button">Pay your tickets</button>
    </form>*@
</div>