@using HaarlemFilmFestival.ViewModels;
@using HaarlemFilmFestival.Models;
@model JazzViewModel

@{
    ViewBag.Title = "Jazz";
    IEnumerable<Jazz> Events = Model.jazzLeft;
    IEnumerable<Artist> bands = Model.Artists;
}
<h6> This below table content is from partial view</h6>
<table class="table">

    <tr>
        <th>
            Time
        </th>
        <th>
            Location
        </th>
        <th>
            Hall
        </th>
        <th>
            Band
        </th>
        <th>
            Price
        </th>
        <th>
            Add to cart
        </th>
    </tr>
    
    @foreach (Jazz j in Events)
    {
        <tr>
            <td>
                @j.StartTime.ToString() - @j.EndTime.ToString()
            </td>
            <td>
                @j.Location.Name
            </td>
            <td>
                @j.Location.LocationDescription
            </td>
            <td>
                @j.Band.Name
            </td>
            <td>
                @j.Price
            </td>
            <td>
                @Html.ActionLink("Add to cart", "Index", "Order")
            </td>
        </tr>
    }

</table>

