@using HaarlemFilmFestival.ViewModels;
@using HaarlemFilmFestival.Models;
@model  IEnumerable<Jazz> 

@{
    ViewBag.Title = "Jazz";
    IEnumerable<Jazz> Events = Model;
}
<link href="@Url.Content("~/Content/Jazz.css")" , rel="stylesheet" type="text/css" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
@* Met dit script wordt de popup aangeroepen door in de tabel op het winkelmandje te klikken (via class orderbutton *@
<script>
    $(document).ready(function () {
        $("#hide").click(function () {
            $(".orderPopUp").hide();
        });
        $(".orderButton").click(function (data) {
            var id = document.activeElement.id;
            var event = $(this).attr("id");
            $(".orderPopUp").show();
            $(".eventidinput").val(event);
        });
    });
</script>
<table class="table">
  
    <tr>
        <th>
            Time
        </th>
        <th>
            Location
        </th>
        <th>
            Hall
        </th>
        <th>
            Band
        </th>
        <th>
            Price
        </th>
        <th>
            Add to cart
        </th>
    </tr>
    @* Met deze foreach-loop word voor elk Jazz-event de benodigde informatie opgehaald (Start- en eindtijd, Locatie, Artiest en Prijs) *@
    @foreach (Jazz j in Events)
    {
        <tr>
            <td>
                @j.StartTime.TimeOfDay - @j.EndTime.Value.TimeOfDay
            </td>
            <td>
                @j.Location.Name
            </td>
            <td>
                @j.Location.LocationDescription
            </td>
            <td>
                @j.Band.Name
            </td>
            <td>
                €@j.Price,-
            </td>
            <td>
                <a class="orderButton" id="@j.Id"><img src="~/Content/cart.png" /></a>
            </td>
        </tr>
    }
    <tr><td colspan="6"> <br /> </td></tr>
    <tr>
        <td colspan="4" style="text-align:center">
            All access for this day
        </td>
        <td>€35,-</td>
        <td><a class="orderButton"><img src="~/Content/cart.png" /></a></td>
    </tr>
    <tr><td colspan="6"> <br /> </td></tr>
    <tr>
        <td colspan="4" style="text-align:center">
            All access for July 26, 27 and 28
        </td>
        <td>€80,-</td>
        <td><a class="orderButton"><img src="~/Content/cart.png" /></a></td>
    </tr>
</table>

@* Dit is de pop-up voor het invullen van het aantal kaarten, als er op submit (Add ticket) geklikt word ga je naar de Post van de index-methode, daar word de order aangemaakt *@
<div class="orderPopUp">
    <form class="placeOrder" method="post" action="~/Jazzs/Index">
        <div class="idtext"></div>
        Amount of tickets:<br />
        <input type="text" class="eventidinput" name="eventid" hidden />
        <input type="number" name="amountOfTickets" min="1" max="10" required><br />
        <br />
        <input type="submit" value="Add ticket">
        <input id="hide" type="button" value="CANCEL">
    </form>
</div>
