@model HaarlemFilmFestival.Models.Jazz

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Jazz</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Rang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rangprijs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rangprijs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Band)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Band)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.JazzId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
