@using HaarlemFilmFestival.Models;
@using HaarlemFilmFestival.ViewModels;
@model FoodViewModel
@{
    ViewBag.Title = "Food";
    IEnumerable<Food> Events = Model.FoodLeft;
    IEnumerable<Cuisine> KeukenTypes = Model.Cuisines;
}
<link href="@Url.Content("~/Content/Food.css")" , rel="stylesheet" type="text/css" />
<div class="jumbotron">
    <h1>Visit Haarlem Restaurants</h1>
    <p>
        Although Haarlem had not all particular well known culinary tradition there are lots of restaurants that are worth your while. Some of them created a special Haarlem festival menu at a reduced price. It is a great way to enjoy the posibilities of Haarlem.
    </p>

    <p class="food1">
        See the restaurants below for locations, prices and the type of food the restaurant serves. A reservation is mandatory.
    </p>

    <div class="foodcontainer">
        <div class="column">
            Scroll down to the restaurant section, look at the various restaurants and choose the one that appeals to you the most.
            For Frensch, you should check out Ratatouille! But if you want to try out some Dutch food, Restaurant ML, Restaurant Fris, Grand Cafe Brinkman and Urban Frenchy Bistro are a good idea!
            Pick a restaurant and add it to you chart!
        </div>
        <div class="column">
            <img src="@Url.Content("~/Content/Images/u568aangepast.png")" />
        </div>
        <div class="column">
            <img src="@Url.Content("~/Content/Images/u567aangepast.png")" />
        </div>
    </div>
        
    <h7>Tickets</h7>

    <h1>Tickets</h1>

    <table class="table">
        <tr>
            <th>
                Restaurant
            </th>
            <th>
                Price adults
            </th>
            <th>
                Price children
            </th>
            <th>
                Type
            </th>
            <th>
                Order a ticket
            </th>
        </tr>
        @foreach (Food f in Events)
        {
            <tr>
                <td>
                    @f.Restaurant.RestaurantName
                </td>
                <td>
                    @f.Price
                </td>
                <td>
                    @f.Discount
                </td>
                <td>
                    @f.Restaurant.Cuisines.
                </td>
                <td>
                    @Html.ActionLink("Add to cart", "Index", "Order")
                </td>
            </tr>
        }
    </table>

    <p>* Reservation is mandatory.  A reservation fee of €10,- per person wil be charged when a reservation is made on the Haarlem Festival site. This fee will be deducted from the final check on visiting the restaurant.</p>
    <p>** When ordering a ticket there will be an option to inform the restaurant for special requests regarding the food or service (allergies, wheelchair etc.)</p>
    <br />
    <h1>Restaurants</h1>
    @foreach (var item in Model.Foods)
    {
        <div class="row">
            <div class="col-md-4">
                <h2>@Html.DisplayFor(modelItem => item.Restaurant.RestaurantName)</h2>
                <h2>@Html.DisplayFor(modelItem => item.Restaurant.Stars) stars</h2>
                @*<h2>@Html.DisplayFor(modelItem => item.Location.Address) </h2>*@
                <h2>@Html.DisplayFor(modelItem => item.Restaurant.WebsiteLink)</h2>
                @*<img src="@Url.Content("~/Content/Images/u1063.png")" />*@
            </div>
        </div>
    }
</div>