@using HaarlemFilmFestival.Models;
@using HaarlemFilmFestival.ViewModels;
@model FoodViewModel
@{
    ViewBag.Title = "Food";
}
<link href="@Url.Content("~/Content/Food.css")" , rel="stylesheet" type="text/css" />
<!--#region scripts-->
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        $("#hide").click(function () {
            $(".orderPopUp").hide();
        });
        $(".orderButton").click(function (data) {
            var event = $(this).attr("id");
            var price = $(this).parent().parent().find(".restaurant-price").text();
            var discount = $(this).parent().parent().find(".restaurant-discount").text();
            
            $("#Restaurant_Id").val(event);
            $(".selected-restaurant-price").text(price);
            $(".selected-restaurant-discount").text(discount);

            $("#restaurantid-1").show();
        });
    });</script>
<!--#endregion scripts -->
<div class="jumbotron">
    <h1>Visit Haarlem Restaurants</h1>
    <p>
        Although Haarlem had not all particular well known culinary tradition there are lots of restaurants that are worth your while. Some of them created a special Haarlem festival menu at a reduced price. It is a great way to enjoy the posibilities of Haarlem.
    </p>
    <p class="food1">
        See the restaurants below for locations, prices and the type of food the restaurant serves. A reservation is mandatory.
    </p>
    <div class="foodcontainer">
        <div class="column">
            Scroll down to the restaurant section, look at the various restaurants and choose the one that appeals to you the most.
            For Frensch, you should check out Ratatouille! But if you want to try out some Dutch food, Restaurant ML, Restaurant Fris, Grand Cafe Brinkman and Urban Frenchy Bistro are a good idea!
            Pick a restaurant and add it to you chart!
        </div>
        <div class="column">
            <img src="@Url.Content("~/Content/Images/Restaurants/u568aangepast.png")" />
        </div>
        <div class="column">
            <img src="@Url.Content("~/Content/Images/Restaurants/u567aangepast.png")" />
        </div>
    </div>
    <br />
    <h7 style="color:white;">Tickets</h7>
    <h1>Tickets</h1>
    <table class="table">
        <tr>
            <th>
                Restaurant
            </th>
            <th>
                Price adults*
            </th>
            <th>
                Price children*
            </th>
            <th>
                Type
            </th>
            <th>
                Order a ticket**
            </th>
        </tr>
        @foreach (var item in Model.Foods)
        {
            <tr>
                <td>
                    @item.Restaurant.RestaurantName
                </td>
                <td class="restaurant-price">
                    @item.Price
                </td>
                <td class="restaurant-discount">
                    @item.Discount
                </td>
                <td>
                    @item.Restaurant.CuisinesString
                </td>
                <td>
                    <a class="orderButton" id="@item.Restaurant.Id"><img src="~/Content/Images/cart.png" /></a>
                </td>
            </tr>
        }
    </table>

    <p>* Reservation is mandatory.  A reservation fee of €10,- per person wil be charged when a reservation is made on the Haarlem Festival site. This fee will be deducted from the final check on visiting the restaurant.</p>
    <p>** When ordering a ticket there will be an option to inform the restaurant for special requests regarding the food or service (allergies, wheelchair etc.)</p>
    <br />
    <h1>Restaurants</h1>
    <div class="row">
        @foreach (var item in Model.Restaurants)
        {

            <div class="col-md-4">
                <h3>@Html.DisplayFor(modelItem => item.RestaurantName)</h3>
                <h3>@Html.DisplayFor(modelItem => item.Stars) stars <img src="@Url.Content("~/Content/Images/Restaurants/u447.png")" /></h3>
                <img src="@Url.Content("~/Content/Images/Restaurants/")@{ @Html.DisplayFor(modelItem => item.FixedImageName) }.png" alt="Restaurant image" />
                <h3><img src="@Url.Content("~/Content/Images/Restaurants/u451aangepast.png")" /><a href="@item.WebsiteLink"><img src="@Url.Content("~/Content/Images/Restaurants/u446aangepast.png")" /></a></h3>
            </div>
        }
    </div>
   

    <div class="orderPopUp" id="restaurantid-1">
        <h3>Choose your food ticket please.</h3>
        @using (Html.BeginForm("Index", "Foods", FormMethod.Post))
        {
            @Html.DropDownListFor(model => model.Day, new SelectList(
                  new List<Object>{
                       new { value = 0 , text = "Donderdag" },
                       new { value = 1 , text = "Vrijdag" },
                       new { value = 2 , text = "Zaterdag"},
                       new { value = 3 , text = "Zondag"}
                    },
                  "value",
                  "text",
                   Model.Day))
            <br />
            @Html.DropDownListFor(model => model.Time, new SelectList(
                             new List<Object>{
                                  new { value = 0 , text = "17:00"  },
                                  new { value = 1 , text = "19:00" },
                                  new { value = 2 , text = "21:00"}
                               },
                             "value",
                             "text",
                              Model.Time))
            <br />
            @Html.HiddenFor(model => model.Restaurant_Id, new { htmlAttributes = new { @type = "number", @min = "0", @step = "1" } })

            @*<label class="selected-restaurant-price"></label>*@
            <label>Amount of adults:</label>
            @Html.EditorFor(model => model.Quantity)
            <br />
            @*<label class="selected-restaurant-discount"></label>*@
            <label>Amount of children:</label>
            @Html.EditorFor(model => model.QuantityForKids)
            <br />
            <label>Special request:</label>
            <br />
            @Html.TextAreaFor(model => model.Description)

            <input type="button" value="Close">
            <br />
            <input type="submit" value="Add to shoppingcart">
            <br />
            <input type="button" value="Close">
        }
    </div>

</div>
